<form action="{{ url('admin_blog_delete', {id: post.id}) }}" method="post" onsubmit="confirm('supprimez ?')" id="delete-form">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="token" value="{{ csrf_token('delete') }}" />
    <button type="submit" class="btn btn-block btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        Delete
    </button>
</form>
