{% extends 'admin/layout.html.twig' %}

{% block main %}
    <h1>Edit Post #{{ post.id }}</h1>

    {{ include('admin/blog/_form.html.twig', {form: form}, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_blog_show', {id: post.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-eye" aria-hidden="true"></i> Show
        </a>
    </div>

    {{ parent() }}
{% endblock %}
